@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

body {
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* Main layout */
#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#toolbar {
    position: relative;
    color: #757473;
    background-color: #fefefe;
    display: flex;
    align-items: center;
    flex-basis: 40px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 40px;
}

#toolbar:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    bottom: -2px;
    background: transparent;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

#views {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 0;
}

#statusbar {
    position: relative;
    color: #757473;
    background-color: #fefefe;
    display: flex;
    align-items: center;
    flex-basis: 30px;
    flex-grow: 0;
    flex-shrink: 0;
}

#statusbar:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -2px;
    bottom: 100%;
    background: transparent;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}

#view-dictionary {
    background-color: #d7d6d5;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    flex-basis: 200px;
    flex-grow: 50;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
}

#view-search {
    background-color: #f2f1f0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    flex-basis: 200px;
    flex-grow: 100;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
}

#view-document {
    background-color: #fff;
    min-width: 300px;
    flex-basis: 600px;
    flex-grow: 600;
    flex-shrink: 1;
    overflow: auto;
    min-height: 0;
}

/* Toolbar items */
.button-toolbar {
    display: inline-block;
    margin-left: 10px;
    height: 30px;
    flex-basis: 30px;
    flex-shrink: 0;
    flex-grow: 0;
}

#toolbar h1 {
    margin: 0 0 0 10px;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    flex-grow: 0;
    flex-shrink: 0;
}

/* View items */
#view-document article {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 20px;
}

#view-document article h1 {
    font-size: 27px;
    color: #404040;
    line-height: 1.2;
    margin: 20px 0 5px;
}

#view-document article h2 {
    font-size: 18px;
    color: #505050;
    line-height: 1.2;
    margin: 0 0 15px;
}

#view-document article p {
    color: #313131;
    font-size: 14px;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 15px;
}

/* Statusbar items */
#statusbar p {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
}

/* Search */
.search-field {
    color: rgba(0, 0, 0, 0.7);
    background-color: transparent;
    padding: 0 5px;
    margin: 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    border-left: none;
    border-right: none;
    height: 30px;
    display: block;
}

